.list {
  width: $list-width;
  height: 100%;
  background-color: $grey;
  border-radius: 10px;
  &:not(:last-child) {
    margin-right: 30px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}
